[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-environ = "*"
djangorestframework = "*"
black = "*"
django-cors-headers = "*"
iamport-rest-client = "*"
pillow = "*"
requests = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.11"
